@font-face {
  font-family: Montserrat;
  src: url("/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Fraunces;
  src: url("/Fraunces_72pt-Bold.ttf");
}
body {
  background-color: hsl(30, 38%, 92%);
}
body p {
  font-size: 14px;
}
.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 55%;
  border-radius: 20px;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.cart {
  position: absolute;
  left: 65%;
  right: 7%;
}
.perftit {
  position: absolute;
  top: -150%;
}
.perfume {
  font-size: 20px;
  color: hsla(212, 21%, 14%, 0.5);
  font-family: Montserrat;
  font-weight: 500;
}
.title {
  font-size: 49px;
  color: hsl(212, 21%, 14%);
  font-family: Fraunces;
  font-weight: 800;
}
.description {
  padding-top: 10px;
  font-family: Montserrat;
  color: hsla(212, 21%, 14%, 0.8);
  font-size: 20px;
}
.price {
  position: absolute;
  top: 100%;
}
.new-price {
  font-size: 49px;
  font-family: Fraunces;
  font-weight: 800;
  color: hsl(158, 36%, 37%);
}
.old-price {
  font-family: Montserrat;
  position: absolute;
  left: 110%;
  top: 38%;
  color: hsla(212, 21%, 14%, 0.5);
  text-decoration: line-through;
}
.img-col {
  position: absolute;
  left: 60px;
}
.add {
  position: absolute;
  top: 200%;
  left: 5%;
  padding-left: 30px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  height: 70px;
  width: 260px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add:focus {
  background-color: hsl(159, 45%, 18%);
}
.attribution {
  font-size: 20px;
  text-align: center;
  padding-top: 900px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* -----------------Media Querries----------------- */
@media only screen and (max-width: 600px) {
 .container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150%;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
 }
 .img{
  content: url('/images/image-product-mobile.jpg');
  height: 50%;
  object-fit: cover;
  overflow: hidden;
 }
 .add{
  position: absolute;
  top: 200%;
  left: 5%;
 }
}
